.post-form
  max-width 600px
  margin 30px 0

.post-form__input
  width 100%
  padding 5px
  border-radius 3px
  border solid 1px #ccc
  margin 0 0 20px

.post-form__textarea
  width 100%
  padding 5px
  border-radius 3px
  border solid 1px #ccc
  resize vertical

.post-form__button
  border solid 1px #ccc
  background none
  paddng 5px
  width 60px
  height 30px
  margin 10px 0 0 0
  border-radius 3px
  color #666