.side-menu
  height auto
  min-height 100%
  width 300px
  background #eee
  color #efeae1

.side-menu__icon
  width 80px
  height auto
  border-radius 50%
  margin 30px auto 0 auto
  display block

.side-menu__title
  text-align center
  font-family sans-serif
  padding 20px 0 0 0
  color #aaa
